pl_Bootcamp_project02.json
{
    "name": "pl_Bootcamp_project02",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata from On prem File System",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_bootcamp_project02_Onprem",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "FileServerReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "ForEach To loop through Values",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata from On prem File System",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata from On prem File System').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Copy data from On Prem To bronze",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "FileServerReadSettings",
                                        "recursive": true,
                                        "wildcardFileName": "*",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_bootcamp_project02_Onprem",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_bootcamp_project02_bronze",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Data flow Gold to Dedicated SQL pool Sink",
                "type": "ExecuteDataFlow",
                "dependsOn": [
                    {
                        "activity": "Notebook Silver to Gold",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataflow": {
                        "referenceName": "df_bootcamp_project02",
                        "type": "DataFlowReference"
                    },
                    "staging": {
                        "linkedService": {
                            "referenceName": "ls_adlsgen2",
                            "type": "LinkedServiceReference"
                        },
                        "folderPath": "boot-camp-project02/gold/staging"
                    },
                    "compute": {
                        "coreCount": 8,
                        "computeType": "General"
                    },
                    "traceLevel": "Fine"
                }
            },
            {
                "name": "Bronze To Silver Notebook",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "ForEach To loop through Values",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/srepaka0820@conestogac.on.ca/BootCamp_Project02/Read Bronze files and Transformations"
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Notebook Silver to Gold",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze To Silver Notebook",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/srepaka0820@conestogac.on.ca/BootCamp_Project02/Gold_CustomerLoanSummary"
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-03-26T07:50:34Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}